<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="content-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js" defer></script>
    <script src="{{ site.url }}/assets/js/random-keyword.js" defer></script>
    <script src="{{ site.url }}/assets/js/random-color.js" defer></script>
  </body>
</html>
