---
layout: default
title: Home
---

<div class="home-salutation-group">
  <!-- <h1>Composer, Performer, Media Artist</h1> -->
  <img
    id="home-headshot"
    class="home-image"
    src="assets/img/headshot-bare-1.png"
    alt="Brandon Lincoln Woo Snyder"
  />
</div>

<div class="posts-grid">
  {% for post in paginator.posts %} {% unless post.tags contains "homeExclude"
  %} {% include featured-post.html %} {% endunless %} {% endfor %}
</div>

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{
    site.data.settings.pagination.previous_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{
    site.data.settings.pagination.next_page }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const img = document.getElementById("home-headshot");
    const imgA = "assets/img/headshot-bare-1.png";
    const imgB = "assets/img/headshot-bare-2.png";

    img.addEventListener("click", () => {
      img.src = img.src.endsWith(imgA) ? imgB : imgA;
    });
  });
</script>
